aside {
    background-color: var(--color-gray-600);
    padding: 88px 120px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    #services {
        margin-top: 56px;
        display: grid;
        grid-template-columns: repeat(3, 280px);
        gap: 24px;
        justify-content: center;

        div {
            padding: 20px;
            border-radius: 12px;
            border: 1px solid var(--color-gray-500);

            h3 {
                margin-block: 20px 8px;
            }
        }
    }
}