footer {
    background-image: url(../assets/images/Background_Contacts.png);
    background-size: cover;
    padding: 128px 120px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        span {
            color: var(--color-purple);
        }

        h2 + p {
            font: var(--text-md);
        }
    }

    #social-media {
        margin-top: 48px;
        display: grid;
        grid-auto-flow: row;
        gap: 16px;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: var(--color-gray-400);
            border-radius: 8px;
            width: 400px;
            padding: 20px;
            text-decoration: none;
            justify-content: space-between;
            
            div {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            p {
                font: var(--text-md);
                color: var(--color-gray-200);
            }
        }

        a:hover {
            border: 2px solid var(--color-blue);
        }

        a:hover > div img {
            filter: brightness(0) saturate(100%) invert(53%) sepia(33%) saturate(5477%) hue-rotate(187deg) brightness(97%) contrast(94%);
        }
    }
}