main {
    background-color: var(--color-gray-500);
    padding: 72px 120px 144px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }

    #projects {
        margin-top: 56px;
        display: grid;
        grid-template-columns: repeat(3, 330px);
        gap: 24px;
        justify-content: center;

        figure {
            padding: 12px;
            background-color: var(--color-gray-400);
            border-radius: 12px;

            img {
                border-radius: 8px;
                width: 306px;
            }

            h3 {
                margin-block: 24px 8px;
            }
        }

        figure:hover {
            border: 2px solid var(--color-gray-200);
        }
    }
}

